#!/bin/bash

export PRJ_DIR=$(git rev-parse --show-toplevel 2>/dev/null || cwd)
export BIN_DIR=$PRJ_DIR/bin

# Enable python3 environment
layout python3

# Change default cache to local path
export XDG_CACHE_HOME="$PRJ_DIR/.venv/"

# Update path
[[ ":$PATH:" == *":$BIN_DIR:"* ]] || export PATH=$BIN_DIR:$PATH

# In case of CI/CD
# export EDITOR=cat

# export PYTHONPATH=/home/jez/volumes/data/prj/mrjk/POC/python-project-poetry-template/python-semantic-release
