#!/bin/bash

# Configure Python
layout python3

# Take advantage of direnv
export XDG_CACHE_HOME="$PWD/.direnv/cache"
export TASK_TEMP_DIR='$PWD/.direnv/task'

# Load secrets
if [[ -f "$PWD/.SECRETS" ]]; then
  >&2 echo "INFO: Sourcing secrets (./.SECRETS)"
  . "$PWD/.SECRETS"
fi
